<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    
    <!-- Saif Connection -->
    <!--<add name="myCon" connectionString="Data Source=LAPTOP-Hp-i5;Initial Catalog=Mart_Management_System;Integrated Security=True"/>-->
    
    <!-- Minhas Connection -->
    <!--<add name="myCon" connectionString="Data Source=DESKTOP-53HPM07\SQLEXPRESS;Initial Catalog=Mart_Management_System;Integrated Security=True"/>-->

    <!-- ARK Connection -->
    <add name="myCon" connectionString="Data Source=DESKTOP-00TJK7F\SQLEXPRESS;Initial Catalog=Mart_Management_System;Integrated Security=True"/>
  
  </connectionStrings>
</configuration>
